include README.rst
include LICENSE

graft aop2db

graft docs
prune docs/build

global-exclude  __pycache__

global-exclude *.ipynb
global-exclude *.json
global-exclude *.png
global-exclude *.py[cod]
global-exclude *.so
